body {
    color: rgb(4, 107, 0); /*cor-da-fonte: branco;*/
    background-color: rgb(255, 255, 255);/*cor-fundo: preto*/
    margin: 0px;             /*margem-externa-elemento: 0pixels*/
    font-family: 'Chakra Petch';/*tipo-de-fonte*/
    margin-bottom: 100px;       /*espaço-externa-de-baixo*/
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
                   /*borda-de-baixo: linha-solida 2pixels cor-padrao-rgb*/
    padding: 20px;  /*espaço-interno do elemento : 20pixels*/
    font-size: 32px;  /*tamanho da fonte: 32pixels*/
    color: rgb(201, 181, 0);
}